include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erp_payment *.css
recursive-include erp_payment *.csv
recursive-include erp_payment *.html
recursive-include erp_payment *.ico
recursive-include erp_payment *.js
recursive-include erp_payment *.json
recursive-include erp_payment *.md
recursive-include erp_payment *.png
recursive-include erp_payment *.py
recursive-include erp_payment *.svg
recursive-include erp_payment *.txt
recursive-exclude erp_payment *.pyc